{% assign post = include.post %}
{% assign accent_color = include.post.accent_color | default: site.default_accent_color | default: "black" %}
<a href="{{ post.url }}" class="blog-card" style="--accent-color: {{ accent_color }};">
    <!-- TODO: Add preview images! -->
    <div class="image">
        <span class="material-symbols-outlined">article</span>
    </div>
    <div class="card-text">
        <h2>{{ post.title | escape }}</h2>
        <p class="post-info">
            <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
            {%- if post.tags -%}
                <span class="post-info-sep"></span>
                {%- for tag in post.tags -%}
                    <span class="tag">{{ tag | escape }}</span>
                {%- endfor -%}
            {%- endif -%}
        </p>
        <p class="text-preview">
            {{- post.excerpt | strip_html | escape -}}
        </p>
    </div>
</a>