<header>
    <div class="logo-container">
        {% if site.logo %}<img src="{{ site.logo | relative_url }}" alt="Logo">{% endif %}
    </div>
    <nav class="nav-bar">
        <div class="nav-toggler" id="nav-toggler"><span class="material-symbols-outlined">menu</span></div>
        <div class="nav-items" id="nav-items">
            {%- for page in site.header_pages -%}
                <a href="{{ page.url | relative_url }}"><span>{{ page.title | escape }}</span></a>
            {%- endfor -%}
        </div>
    </nav>
</header>
<script>
    let navToggle = document.getElementById("nav-toggler");
    let navItems = document.getElementById("nav-items");
    navToggle.addEventListener("click", () =>
    navItems.classList.toggle("nav-items-active"));
</script>