
main.page-content {
    width: 100%;
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 750px) {
        margin-top: 4em;
    }

    h1.page-title {
        width: 100%;
        display: block;
        box-sizing: border-box;
        text-align: center;
        margin: 0 0 1em 0;
        padding: 0 .5em;
        font-size: 3.5em;
        font-weight: lighter;
        color: #333;
    }

    h2.center-title {
        width: 100%;
        display: block;
        box-sizing: border-box;
        text-align: center;
        margin: 1.2em 0 .6em 0;
        padding: .2em 2em;
        font-size: 3em;
        color: white;
        background-color: #333;
        font-weight: lighter;

        @media screen and (max-width: 750px) {
            font-size: 2em;
            margin-top: .6em;
        }
    }

    blockquote.center-quote {
        display: block;
        width: 80%;
        max-width: 600px;
        color: grey;
        font-style: italic;
        font-size: 1.3em;
        line-height: 150%;
        margin: .7em 0;
        text-align: justify;

        @media screen and (max-width: 750px) {
            font-size: .9em;
        }
    }

    .vspace-empty {
        height: 3em;

        @media screen and (max-width: 750px) {
            height: 1em;
        }
    }

    .profile-container {
        display: flex;
        width: 80%;
        max-width: 750px;
        align-items: center;
        justify-content: left;
        flex-direction: row;
        margin: 3em 0 3em 0;

        @media screen and (max-width: 750px) {
            flex-direction: column;
            justify-content: center;
            margin-bottom: 1em;
        }

        .profile-picture-container {
            width: 200px;
            height: 200px;
            box-sizing: border-box;
            border: 2px solid #444;
            padding: 4px;
            border-radius: 50%;
            flex-shrink: 0;

            @media screen and (max-width: 750px) {
                width: 180px;
                height: 180px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
                border-radius: 50%;
            }
        }

        .profile-name-container {
            margin: 0 0 0 4em;

            @media screen and (max-width: 750px) {
                margin-left: 0;
                margin-top: 1.5em;
            }

            h1 {
                font-size: 3em;
                font-weight: lighter;
                margin: 0;

                @media screen and (max-width: 750px) {
                    font-size: 2em;
                }
            }
        }
    }
}