
$footer-text-color: whitesmoke;

footer {
    background-color: #2e2e2e;
    color: $footer-text-color;
    margin: 5em 0 0 0;
    box-sizing: border-box;
    padding: 3em 4em;
    width: 100%;
    min-height: 300px;

    @media screen and (max-width: 600px) {
        padding: 3em 2.5em;
    }

    .container {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;

        div.footer-columns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            align-items: flex-start;
            
            & > div:not(:first-child) {
                margin-left: 6em;
            }

            @media screen and (max-width: 600px) {
                flex-direction: column;
                align-items: stretch;
                justify-content: flex-start;

                & > div:not(:first-child) {
                    margin-top: 1em;
                    margin-left: 0;
                }
            }

            & > div {
                flex-shrink: 1;
                width: 100%;
                max-width: 500px;

                ul.socials {
                    padding-left: 0;
                    margin: 0;

                    li {
                        margin: 0.7em 0;
                        list-style-type: none;

                        &:first-child {
                            margin-top: 0;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }

                        a {
                            color: inherit;
                            text-decoration: none;

                            &:active {
                                color: inherit;
                                text-decoration: none;
                            }

                            &:hover span {
                                text-decoration: underline;
                            }

                            svg.icon {
                                width: 1em;
                                height: 1em;
                                transform: translateY(0.15em);
                                margin-right: 0.4em;
                                fill: $footer-text-color;
                            }
                        }
                    }
                }
            }
        }
    }
}