
$header-link-color: #222;

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3.5em;
    background-color: white;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    padding: 0 2em;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    a.site-title {
        font-size: 1.5em;
        color: inherit;
        text-decoration: none;
        font-weight: lighter;
        text-wrap: nowrap;

        &:active {
            color: inherit;
            text-decoration: none;
        }
        &:hover {
            text-decoration: underline;
        }
    }

    nav.site-nav {
        height: 100%;

        div.nav-items {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            height: 100%;
    
            a {
                box-sizing: border-box;
                vertical-align: middle;
                color: $header-link-color;
                text-decoration: none;
                padding: 0 1.5em;
                align-self: stretch;
                text-align: center;
                line-height: 3.3em;
    
                &:hover {
                    text-decoration: underline;
                }
                &.visited {
                    color: $header-link-color;
                }

                span {
                    display: inline-block;
                    line-height: normal;
                    vertical-align: middle;
                    text-decoration: inherit;
                }
            }

        }
        
        div.nav-toggle {
            display: none;
        }

        @media screen and (max-width: 750px) {
            div.nav-items {
                display: none;
                position: fixed;
                left: 0;
                top: calc(3.5em - 2px);
                right: 0;
                flex-direction: row;
                flex-wrap: wrap;
                background-color: white;
                height: auto;
                border-bottom: 2px solid #ddd;
                padding: 0 .5em;
                box-sizing: border-box;

                &.nav-items-active {
                    display: flex;
                }

                a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: .3em;

                    span {
                        display: block;
                        margin: .5em 0;
                        box-sizing: border-box;
                        padding: .5em 1em;
                        background-color: #444;
                        color: white;
                    }
                }
            }

            div.nav-toggle {
                display: flex;
                height: 100%;
                flex-direction: row;
                align-items: center;
                padding: 0 1em;
                cursor: pointer;
                user-select: none;
            }
            div.nav-toggle:hover {
                background-color: #f1f1f1;
            }
        }
    }

    @media screen and (max-width: 750px) {
        padding: 0 1em;
    }
}