
@import "constants";
@import "components/header";
@import "components/footer";

body {
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.content-container {
    margin-top: 10em;
}