
// @import "minima";
@import "colors.scss";
@import "header", "content", "footer", "image-card", "me", "post", "syntax_highlighting";

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background-color: #fcfcfc;
}