
.image-card {
    display: flex;
    width: 100%;
    flex-direction: row;
    min-height: 10em;
    border: 1px solid lightgray;
    border-radius: 6px;
    overflow: hidden;
    align-items: stretch;
    justify-content: space-between;
    margin: 1em 0;
    .image-card-image {
        width: 10em;
        flex-shrink: 0;
        overflow: hidden;
        position: relative;
        @media screen and (max-width: 600px) {
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }
    }
    .image-card-meta {
        color: grey;
        box-sizing: border-box;
        padding: 1.7em 2em 2em 1em;
    }
    .image-card-text {
        align-self: center;
        font-size: .9em;
        padding: 1em 4em;
        @media screen and (max-width: 600px) {
            padding: 1em 2em;
        }
        .image-card-title {
            font-size: 1.8em;
            margin-bottom: .3em;
            display: block;
        }
    }
}

h2 {
    font-size: 28px;
}

ul.icon-listing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: .5em;
    li {
        display: flex;
        flex-direction: row;
        height: 2.2em;
        margin: .4em;
        img {
            height: 100%;
        }
    }
}