
@use "../constants";

.home-container {
    max-width: constants.$article-width;
    padding: 0 1em;
    line-height: 165%;
    font-size: .95em;

    h2.category {
        font-size: 1.5em;
        text-align: center;
        margin: 3em 0 .5em 0;
        font-weight: normal;
        display: flex;
        align-items: center;

        @media screen and (max-width: constants.$small-width) {
            margin-top: 1.5em;
        }

        & > span {
            color: white;
            background-color: #333;
            border-radius: 10em;
            padding: .5em 1em;
            margin: 0 .5em;
        }

        .line {
            flex-grow: 1;
            height: .2em;
            border-radius: .1em;
            background-color: #333;
        }

        &:first-of-type {
            margin-top: 0;
        }
    }

    .view-more {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 1em 0;
        
        & > a {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            color: #777;
            padding: .3em 1em;
            border-radius: 5em;
            border: .15em solid #999;

            .icon {
                font-size: 1.2em;
            }
    
            .text {
                font-size: .9em;
                margin-left: .4em;
            }
    
            &:hover, &:focus {
                .text {
                    text-decoration: underline;
                }
            }
        }

    }
}