
ul.large-icon-listing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em 3em;
    max-width: 800px;
    padding: 0;

    @media screen and (max-width: 750px) {
        font-size: .7em;
    }

    li {
        display: flex;
        flex-direction: row;
        height: 4.2em;
        margin: 1em;

        img {
            height: 100%;
        }
    }
}

.milestones {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    padding: 0 1em;

    .milestone {
        margin-bottom: 1em;
        padding: 0 3em;

        .milestone-text {

            p {
                margin: .3em 0;
                font-size: .8em;
                display: none;
            }
            
            h2.milestone-title {
                margin: 0;
                font-size: 1em;
            }
        }

        .milestone-meta {
            font-size: .9em;
            font-style: italic;
            color: grey;
            margin-top: .2em;
        }

    }

    .milestone-major {
        background-color: #333;
        color: white;
        padding: 1em 3em;

        .milestone-text {

            p {
                display: block;
                font-size: 1em;
                margin-bottom: .5em;
            }

            h2.milestone-title {
                font-size: 1.7em;
                margin-bottom: .3em;
            }
        }

        .milestone-meta {
            color: #ddd;
        }
    }
}