---
layout: default
---
<div class="home">
  {{ content }}
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="image-card">
        {%- assign date_format = "%B %-d, %Y" -%}
        <div class="image-card-text">
          <a class="image-card-title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          {%- if site.show_excerpts -%}
            <p>{{ post.excerpt }}</p>
          {%- endif -%}
        </div>
        <div class="image-card-meta">{{ post.date | date: date_format }}</div>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  {%- for p in site.hello -%}
    <h1>{{ post.title }}</h1>
  {%- endfor -%}
</div>
