
.milestones {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    padding: 0 1em;
    margin: 2em 0;
    --accent-color: black; // Default, should be replaced by style attribute

    .milestone {
        margin-bottom: 1em;
        padding: 0 3em;

        .milestone-text {

            p {
                margin: .3em 0;
                font-size: .8em;
                display: none;
            }
            
            h2.milestone-title {
                margin: 0;
                font-size: 1em;
            }
        }

        .milestone-meta {
            font-size: .9em;
            font-style: italic;
            color: grey;
            margin-top: .2em;
        }

    }

    .milestone-major {
        background-color: color-mix(in srgb, var(--accent-color), black 30%);
        color: white;
        padding: 2em 3em;
        border-radius: .5em;

        .milestone-text {

            p {
                display: block;
                font-size: 1em;
                margin-bottom: .5em;
            }

            h2.milestone-title {
                font-size: 1.7em;
                margin-bottom: .3em;
            }
        }

        .milestone-meta {
            color: white;
            opacity: .8;
        }
    }
}