
.timeline {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    margin: 2em 0;

    .milestone {
        margin-bottom: 1em;
        padding: .7em 0;
        display: flex;
        flex-direction: row;
        align-items: stretch;

        .left {
            flex-shrink: 0;
            flex-grow: 0;
            display: flex;
            width: 5em;
            flex-direction: column;
            align-items: center;

            .line-top {

            }

            .line-bottom {

            }

            .line-top, .line-bottom {

            }

            .icon {
                user-select: none;
                font-size: 1.7em;
                color: color-mix(in srgb, var(--accent-color), black 30%);

                & > span {
                    font-size: 1em;
                }
            }

        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: stretch;

            .title {
                margin: 0;
            }

            .description {
                margin: 0;
                margin-top: .5em;
                font-size: .9em;
                line-height: 140%;
            }

            .date {
                margin: 0;
                margin-top: .5em;
                font-size: .9em;
                color: grey;
                font-style: italic;
                line-height: 140%;
            }
        }
    }
}