
@use "../constants";

.timeline {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    margin: 2em 0;

    .milestone {
        margin-bottom: 1em;
        padding: .7em 0;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        border-radius: .5em;

        .left {
            flex-shrink: 0;
            flex-grow: 0;
            display: flex;
            width: 3em;
            flex-direction: column;
            align-items: center;
            position: relative;

            .line, .line {
                position: absolute;
                left: 50%;
                bottom: -1.9em;
                top: 2.2em;
                translate: -50% 0;
                width: .2em;
                border-radius: .1em;
                background-color: color-mix(in srgb, var(--accent-color), black 30%);
            }

            .icon {
                user-select: none;
                font-size: 1.7em;
                color: color-mix(in srgb, var(--accent-color), black 30%);

                & > span {
                    font-size: 1em;
                }
            }

        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 0 1em 0 .5em;
            
            @media screen and (max-width: constants.$mobile-width) {
                padding-top: .1em;
            }

            .title {
                margin: 0;
            }

            .description {
                margin: 0;
                margin-top: .5em;
                font-size: .9em;
                line-height: 140%;
            }

            .date {
                margin: 0;
                margin-top: .5em;
                font-size: .9em;
                opacity: .5;
                font-style: italic;
                line-height: 140%;
            }
        }
    }

    .milestone-major {
        background-color: color-mix(in srgb, var(--accent-color), white 80%);
    }
}