<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assign style_url = '/assets/main.css' | relative_url %}
    {% include stylesheet_link.html url=style_url %}
    {% include stylesheet_link.html url='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0' %}
    {% include stylesheet_link.html url='https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap' %}
    <link rel="icon" type="image/x-icon" href="{{ '/assets/img/favicon.avif' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if page.title %}
        <title>{{ page.title }} | {{ site.title }}</title>
    {% else %}
        <title>{{ site.title }}</title>
    {% endif %}
    {{ page.head | default: '' }}
</head>
<body>
    {% include header.html %}
    <div class="content-container">
        {{- content -}}
    </div>
    {% include footer.html %}
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [["$", "$"], ["\\(", "\\)"]]
            },
        };
    </script>
</body>
</html>
