---
layout: default
---
<div class="home-container">
    <div class="profile-container">
        <div class="profile-picture-container">
            <img
                srcset="assets/img/profile-picture_200.jpg, assets/img/profile-picture_400.jpg 2x, assets/img/profile-picture_800.jpg 4x"
                src="assets/img/profile-picture_800.jpg"
                alt="Profile picture">
        </div>
        <div class="profile-name-container">
            <h1>{{ site.author | escape }}</h1>
        </div>
    </div>
    <p class="profile-text">{{ site.data.home.profile_text }}</p>
    {% if site.data.home_notifications %}
        {% for notification in site.data.home_notifications %}
            {% include notification_card.html text=notification.text color=notification.color icon=notification.icon %}
        {% endfor %}
    {% endif %}
    <h2 class="category"><div class="line"></div><span>Theses</span><div class="line"></div></h2>
    <div class="horizontal-card-container">
        {% for page in site.research %}
            {% include project_card.html page=page %}
        {% endfor %}
    </div>
    <h2 class="category"><div class="line"></div><span>Projects</span><div class="line"></div></h2>
    <div class="horizontal-card-container">
        {% for page in site.projects limit: 3 %}
            {% include project_card.html page=page %}
        {% endfor %}
        <div class="view-more">
            <a href="{{ '/projects' | relative_url }}">
                <span class="icon material-symbols-outlined">add</span>
                <span class="text">View all projects</span>
            </a>
        </div>
    </div>
    <h2 class="category"><div class="line"></div><span>Blog</span><div class="line"></div></h2>
    <div class="horizontal-card-container">
        {% for post in site.posts limit: 3 %}
            {% include blog_card.html post=post %}
        {% endfor %}
        <div class="view-more">
            <a href="{{ '/blog' | relative_url }}">
                <span class="icon material-symbols-outlined">add</span>
                <span class="text">View all posts</span>
            </a>
        </div>
    </div>

    <h2 class="category"><div class="line"></div><span>Contact</span><div class="line"></div></h2>
    <ul class="socials-container">
        {%- for social in site.data.socials -%}
            <li><a href="{{ social.url | escape }}"><i class="icon {{ social.logo }}"></i><span class="username">{{ social.username | escape }}</span></a></li>
        {%- endfor -%}
    </ul>
</div>
